fieldset.box {
	border: 1px solid #000; 
	padding: 15px; 
	margin: 30px 15px 30px 15px;
}

.h2 {
  border: none;
  width: auto;
  color: #000000;
  font-size: 20px;
  padding: 0 10px;
  margin: 0 auto 0 0;
}

.spacer {
    clear : both;
    margin : 0;
    padding : 0;
}